{
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    ["module-alias", [
      { 
        "src": "./internals",
        "expose": "boilerplate" 
      },
      { 
        "src": "./internals/constants.js",
        "expose": "boilerplate/constants" 
      },
      { 
        "src": "./internals/testing/test-helper",
        "expose": "boilerplate/test-utils"
      },
      { 
        "src": "./app/containers",
        "expose": "containers" 
      },
      { 
        "src": "./app/components",
        "expose": "components" 
      }
    ]]
  ]
}
