$susy: (
  columns: 12,
  clearfix: true
);

$primary-text: #101010;

$green: #8BC34A;
$white: #FBFCFD;
$off-white: #DDE1DA;
$grey: #CFD8DC;
$dark-grey: #727272;
$red: #e41b13;
$orange: #FF9800;
$blue : #1268B3;
$dark-blue: #083467;
